<% if (user) { %>
  <div class="jumbotron">
      <div class="container">
        <h1>Welcome to my world！</h1>
        <p>这里是我平常技术生活的点滴，很高兴你能来见证！</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
      </div>
  </div>
<% }else { %>
  <div class="jumbotron">
      <div class="container">
        <h1>Do you want to open the world for you!</h1>
        <p>Just Do It!</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
      </div>
  </div>
<% } %>
